@import url('reset.css');

*{margin:0; padding: 0;}


/*---ESTILOS GENERALES--*/
body{
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	font-family:Arial, Helvetica, Sans-serif;
}

a{text-decoration: none;color: #fff;}
a:hover{text-decoration: underline;}



/*---HEADER--*/
header{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	
	background: #31ccf7; /* Old browsers */
	background: -moz-linear-gradient(top,  #31ccf7 0%, #3587cd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31ccf7), color-stop(100%,#3587cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31ccf7 0%,#3587cd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31ccf7 0%,#3587cd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31ccf7 0%,#3587cd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #31ccf7 0%,#3587cd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31ccf7', endColorstr='#3587cd',GradientType=0 ); /* IE6-9 */
}

.wrapper{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

header .img{
	float: left;
	padding: 11px 10px 0px 0px;
	width: 100px;
	height: 100px
}

header .logo{
	color: #f2f2f2;
	font-size: 40px;
	line-height: 120px;
	float: left;
	font-family: "Times New Roman", Times, serif;
	font-weight:bold;
}

header nav{
	float: right;
	line-height: 60px;
}

header nav a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:5px 13px;
    line-height:normal;
    font-size:14px;
    font-weight:bold;
    font-family: "Times New Roman", Times, serif;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
 
header nav a:hover {
    background:#003;
    border-radius:50px;
    text-decoration: none;
}

.header2 {
    position: fixed;
    height:60px;
}
 
.header2 .logo {
    line-height:60px;
    font-size:20px;
}
 
.header2 nav {
    line-height:28px;
}

.header2 .img{
	float: left;
	padding: 5px 0px;
	width: 50px;
	height: 50px
}

/*--INICIO DE TEXTO--*/
.contenido p{margin-bottom: 1em;}

.body{
	width: 960px;
	float: left;
	padding: 20px;
	background: #edfdfb;
	margin: 10px 0px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 0px 4px 4px #003;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
}

.body h2{
	font-family: "Times New Roman", Times, serif;
	color: #003;
	font-size: 40px;
	margin-bottom: 5px;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0,0,0,.3);
}

.body p{
	font-family: "Times New Roman", Times, serif;
	color: #003;
	font-size: 20px;
	text-align: justify;
}

.body h3{
	font-family: "Times New Roman", Times, serif;
	color: #003;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0,0,0,.3);
}

/*---PIE DE PAGINA---*/
#copyrigth{
	float: left;
	width: 1000px;
	margin: 13px 0px;
}

#copyrigth p{
	text-align: center;
	font-size: 14px;
	color: #000;
	font-family: "Times New Roman", Times, serif;
}


/*---BOTON ARRIBA---*/
.content{
	width: 500px;
	margin: 20px auto;
	text-align: center;
}

.content p{
	margin-bottom: 16px;
}

.ir-arriba{
	display: inline-block;
	padding: 10px;
	background: #024959;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
	position: fixed;
	border-radius: 15px;
	bottom: 10px;
	right: 10px;
}

li a{
	font-size: 20px;
	color: #000;
}
/*---FIN BOTON ARRIBA---*/

/*---BARRA SOCIAL---*/
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
		list-style: none;
	}
 
.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
 
.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {background: #00abf0;}
.social ul li .icon-googleplus {background: #d95232;}
.social ul li .icon-youtube {background: #ae181f;}
.social ul li .icon-mail {background: #666666;}

.social ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

/*---ESTILO DE HIMNO---*/
#tabhimno{
	height: auto;
	width: 960px;
	background: #edfdfb;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 20px;
	margin: 10px 0px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 0px 4px 4px #003;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
}

#tabhimno h1{
	font-family: "Times New Roman", Times, serif;
	color: #003;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
	text-shadow: 2px 1px 0px rgba(0,0,0,.3);
}

#tabhimno p{
	font-family: "Times New Roman", Times, serif;
	color: #003;
	font-size: 20px;
}

#tabhimno img{
	display: block;
    margin: 0px auto;
	padding: 5px 0px;
	width: 900px;
	height: 600px
}

/*---ESTILO DE PERFIL DEL ESTUDIANTE--*/
.all {
	width: 1000px;
	background: #edfdfb;
	float: left;

	margin: 0px 0px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 0px 4px 4px #003;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000;
}

#tabperfil{
	height: auto;
	width: 960px;
	float: left;
	margin: 30px;
}

#tabperfil li{
	font-size: 20px;
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
}

#tabperfil h1{
	font-size: 30px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 1px 0px rgba(0,0,0,.3);
}

/*---ESTILO DE VISION Y MISION---*/
.viymi{
	width: 960px;
	float: left;
	padding: 20px;
	background: #fff;
	margin: 10px 0px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 0px 2px 2px #000;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000
}


.viymi h1{
	font-size: 30px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 1px 0px rgba(0,0,0,.3);
	padding: 100px 0px 10px 0px;
}

.viymi h2{
	font-size: 30px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 1px 0px rgba(0,0,0,.3);
	padding: 50px 0px 10px 0px;
}

.viymi p{
	font-size: 20px;
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
}

.viymi .img{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 400px;
	height: 300px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-right: 12px;
}

.viymi .img2{
	float: right;
	padding: 5px 5px 5px 5px;
	width: 400px;
	height: 300px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-left: 12px;
}

/*---ESTILO DE PRINCIPIOS---*/
.principios{
	height: auto;
	width: 960px;
	float: left;
	padding: 0px 5px 0px 35px;
	background: #fff;
	margin: 10px 0px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 0px 2px 2px #000;
		-moz-box-shadow: 0px 2px 2px #000;
		-webkit-box-shadow: 0px 2px 2px #000
}

.principios h2{
	font-size: 30px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 2px 1px 0px rgba(0,0,0,.3);
}

.principios li{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight:bold;
}

.principios h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

.principios p{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: justify;
}

.principios ul{
	padding: 0px 0px 0px 20px;
	text-align: justify;
}

.img1{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-right: 30px;
}

.img2{
	float: right;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-left: 15px;
}

.img3{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-right: 30px;
}

.img4{
	float: right;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-left: 15px;
}

.img5{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-right: 30px;
}

.img6{
	float: right;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-left: 15px;
}

.img7{
	float: left;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 250px;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #000;
		-moz-box-shadow: 1px 1px 1px 1px #000;
		-webkit-box-shadow: 1px 1px 1px 1px #000;
	margin-right: 30px;
}